@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-WdeYH7h-d05qgz: #384647;
  --plasmic-token-text: var(--token-WdeYH7h-d05qgz);
  --token-2feTfUmLxfJ-w4: rgb(97, 96, 96);
  --plasmic-token-heading: var(--token-2feTfUmLxfJ-w4);
  --token-N8KZFZgaE2YPhc: rgb(95, 91, 87);
  --plasmic-token-border: var(--token-N8KZFZgaE2YPhc);
  --token-iXAzswt8KrCJWi: #f7f7f7;
  --plasmic-token-background: var(--token-iXAzswt8KrCJWi);
  --token-pPSeH1tbuu7cfZ: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-pPSeH1tbuu7cfZ);
  --token-3eWiSReIsMn5H4: rgb(153, 141, 128);
  --plasmic-token-preheader: var(--token-3eWiSReIsMn5H4);
  --token-ECGMy4n1e9vD8H: #88dd9b;
  --plasmic-token-green: var(--token-ECGMy4n1e9vD8H);
  --token-r-RFWvpW8oEjmR: 1.5;
  --plasmic-token-unnamed-style-token-2: var(--token-r-RFWvpW8oEjmR);
  --token-6fefTrDGM5tL7Q: #273132;
  --plasmic-token-heading-2: var(--token-6fefTrDGM5tL7Q);
  --token-LZtnLK41wtnC56: #6b797a;
  --plasmic-token-heading-3: var(--token-LZtnLK41wtnC56);
  --token-o1vqzVzCPrhQyt: 270px;
  --plasmic-token-product-height: var(--token-o1vqzVzCPrhQyt);
  --token-oX3bkaemtLo8zO: #384647;
  --plasmic-token-header-meneu-color: var(--token-oX3bkaemtLo8zO);
  --token-DRENd-ouE9_32N: 749px;
  --plasmic-token-about-img: var(--token-DRENd-ouE9_32N);
}

.plasmic_default_styles {
  --mixin-3DCueQ_qpMXwaw_font-family: "Montserrat";
  --mixin-3DCueQ_qpMXwaw_font-size: 16px;
  --mixin-3DCueQ_qpMXwaw_font-weight: 300;
  --mixin-3DCueQ_qpMXwaw_font-style: normal;
  --mixin-3DCueQ_qpMXwaw_color: #535353;
  --mixin-3DCueQ_qpMXwaw_text-align: left;
  --mixin-3DCueQ_qpMXwaw_text-transform: none;
  --mixin-3DCueQ_qpMXwaw_line-height: 1.7;
  --mixin-3DCueQ_qpMXwaw_letter-spacing: 0.2px;
  --mixin-3DCueQ_qpMXwaw_white-space: pre-wrap;
  --mixin-3DCueQ_qpMXwaw_user-select: text;
  --mixin-3DCueQ_qpMXwaw_text-decoration-line: none;
  --mixin-3DCueQ_qpMXwaw_text-overflow: clip;
  --mixin-XHONt2DEYCEP2O_color: var(--token-pPSeH1tbuu7cfZ);
  --mixin-XHONt2DEYCEP2O_font-family: "Open Sans";
  --mixin-XHONt2DEYCEP2O_font-weight: 700;
  --mixin-XHONt2DEYCEP2O_font-size: 64px;
  --mixin-XHONt2DEYCEP2O_line-height: 1.1;
  --mixin-ZPaB26aSiLBDyp_color: var(--token-6-9k9VEZ-);
  --mixin-ZPaB26aSiLBDyp_font-family: "Open Sans";
  --mixin-ZPaB26aSiLBDyp_font-weight: 600;
  --mixin-ZPaB26aSiLBDyp_font-size: 32px;
  --mixin-ZPaB26aSiLBDyp_letter-spacing: -1px;
  --mixin-DwkqE6MsEASgtE_font-size: 32px;
  --mixin-WTV2_rX7QnyGrN_font-family: "Inter";
  --mixin-WTV2_rX7QnyGrN_color: #000000;
  --mixin-WTV2_rX7QnyGrN_font-size: 16px;
  --mixin-WTV2_rX7QnyGrN_font-weight: 600;
  --mixin-WTV2_rX7QnyGrN_line-height: 1.5;
  --mixin-8SA_3xeK66JqXk_font-size: 24px;
  --mixin-8SA_3xeK66JqXk_color: var(--token-NEon4Y--Z);
  --mixin-8SA_3xeK66JqXk_font-weight: 600;
  --mixin-8SA_3xeK66JqXk_font-family: "Montserrat";
  --mixin-fK3NPJwSnPk07__font-size: 16px;
  --mixin-fK3NPJwSnPk07__color: var(--token-6fefTrDGM5tL7Q);
  --mixin-fK3NPJwSnPk07__font-weight: 600;
  --mixin-fK3NPJwSnPk07__font-family: "Montserrat";
  --mixin-nZxqlxOMOPGoyr_font-size: 24px;
  --mixin-nZxqlxOMOPGoyr_color: #384647;
  --mixin-nZxqlxOMOPGoyr_font-family: "Open Sans";
  --mixin-nZxqlxOMOPGoyr_font-weight: 700;
  --mixin-BYxQfsWK-QhwfF_border-left-color: #dddddd;
  --mixin-BYxQfsWK-QhwfF_border-left-style: solid;
  --mixin-BYxQfsWK-QhwfF_border-left-width: 3px;
  --mixin-BYxQfsWK-QhwfF_color: #888888;
  --mixin-BYxQfsWK-QhwfF_padding-left: 10px;
  --mixin-jn9FLdzFMzpbJw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-jn9FLdzFMzpbJw_border-bottom-color: #dddddd;
  --mixin-jn9FLdzFMzpbJw_border-bottom-style: solid;
  --mixin-jn9FLdzFMzpbJw_border-bottom-width: 1px;
  --mixin-jn9FLdzFMzpbJw_border-left-color: #dddddd;
  --mixin-jn9FLdzFMzpbJw_border-left-style: solid;
  --mixin-jn9FLdzFMzpbJw_border-left-width: 1px;
  --mixin-jn9FLdzFMzpbJw_border-right-color: #dddddd;
  --mixin-jn9FLdzFMzpbJw_border-right-style: solid;
  --mixin-jn9FLdzFMzpbJw_border-right-width: 1px;
  --mixin-jn9FLdzFMzpbJw_border-top-color: #dddddd;
  --mixin-jn9FLdzFMzpbJw_border-top-style: solid;
  --mixin-jn9FLdzFMzpbJw_border-top-width: 1px;
  --mixin-jn9FLdzFMzpbJw_border-bottom-left-radius: 3px;
  --mixin-jn9FLdzFMzpbJw_border-bottom-right-radius: 3px;
  --mixin-jn9FLdzFMzpbJw_border-top-left-radius: 3px;
  --mixin-jn9FLdzFMzpbJw_border-top-right-radius: 3px;
  --mixin-jn9FLdzFMzpbJw_font-family: "Inconsolata";
  --mixin-jn9FLdzFMzpbJw_padding-bottom: 1px;
  --mixin-jn9FLdzFMzpbJw_padding-left: 4px;
  --mixin-jn9FLdzFMzpbJw_padding-right: 4px;
  --mixin-jn9FLdzFMzpbJw_padding-top: 1px;
  --mixin-MiMuRJh_TngwQh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MiMuRJh_TngwQh_border-bottom-color: #dddddd;
  --mixin-MiMuRJh_TngwQh_border-bottom-style: solid;
  --mixin-MiMuRJh_TngwQh_border-bottom-width: 1px;
  --mixin-MiMuRJh_TngwQh_border-left-color: #dddddd;
  --mixin-MiMuRJh_TngwQh_border-left-style: solid;
  --mixin-MiMuRJh_TngwQh_border-left-width: 1px;
  --mixin-MiMuRJh_TngwQh_border-right-color: #dddddd;
  --mixin-MiMuRJh_TngwQh_border-right-style: solid;
  --mixin-MiMuRJh_TngwQh_border-right-width: 1px;
  --mixin-MiMuRJh_TngwQh_border-top-color: #dddddd;
  --mixin-MiMuRJh_TngwQh_border-top-style: solid;
  --mixin-MiMuRJh_TngwQh_border-top-width: 1px;
  --mixin-MiMuRJh_TngwQh_border-bottom-left-radius: 3px;
  --mixin-MiMuRJh_TngwQh_border-bottom-right-radius: 3px;
  --mixin-MiMuRJh_TngwQh_border-top-left-radius: 3px;
  --mixin-MiMuRJh_TngwQh_border-top-right-radius: 3px;
  --mixin-MiMuRJh_TngwQh_font-family: "Inconsolata";
  --mixin-MiMuRJh_TngwQh_padding-bottom: 3px;
  --mixin-MiMuRJh_TngwQh_padding-left: 6px;
  --mixin-MiMuRJh_TngwQh_padding-right: 6px;
  --mixin-MiMuRJh_TngwQh_padding-top: 3px;
  --mixin-Aza0cDbumgEkF1_display: flex;
  --mixin-Aza0cDbumgEkF1_flex-direction: column;
  --mixin-Aza0cDbumgEkF1_align-items: stretch;
  --mixin-Aza0cDbumgEkF1_justify-content: flex-start;
  --mixin-Aza0cDbumgEkF1_list-style-position: outside;
  --mixin-Aza0cDbumgEkF1_padding-left: 40px;
  --mixin-Aza0cDbumgEkF1_position: relative;
  --mixin-Aza0cDbumgEkF1_list-style-type: decimal;
  --mixin-P-nCku6MQjj4ZR_display: flex;
  --mixin-P-nCku6MQjj4ZR_flex-direction: column;
  --mixin-P-nCku6MQjj4ZR_align-items: stretch;
  --mixin-P-nCku6MQjj4ZR_justify-content: flex-start;
  --mixin-P-nCku6MQjj4ZR_list-style-position: outside;
  --mixin-P-nCku6MQjj4ZR_padding-left: 40px;
  --mixin-P-nCku6MQjj4ZR_position: relative;
  --mixin-P-nCku6MQjj4ZR_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-3DCueQ_qpMXwaw_font-family);
  font-size: var(--mixin-3DCueQ_qpMXwaw_font-size);
  font-weight: var(--mixin-3DCueQ_qpMXwaw_font-weight);
  font-style: var(--mixin-3DCueQ_qpMXwaw_font-style);
  color: var(--mixin-3DCueQ_qpMXwaw_color);
  text-align: var(--mixin-3DCueQ_qpMXwaw_text-align);
  text-transform: var(--mixin-3DCueQ_qpMXwaw_text-transform);
  line-height: var(--mixin-3DCueQ_qpMXwaw_line-height);
  letter-spacing: var(--mixin-3DCueQ_qpMXwaw_letter-spacing);
  white-space: var(--mixin-3DCueQ_qpMXwaw_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-XHONt2DEYCEP2O_color);
  font-family: var(--mixin-XHONt2DEYCEP2O_font-family);
  font-weight: var(--mixin-XHONt2DEYCEP2O_font-weight);
  font-size: var(--mixin-XHONt2DEYCEP2O_font-size);
  line-height: var(--mixin-XHONt2DEYCEP2O_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-ZPaB26aSiLBDyp_color);
  font-family: var(--mixin-ZPaB26aSiLBDyp_font-family);
  font-weight: var(--mixin-ZPaB26aSiLBDyp_font-weight);
  font-size: var(--mixin-ZPaB26aSiLBDyp_font-size);
  letter-spacing: var(--mixin-ZPaB26aSiLBDyp_letter-spacing);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-size: var(--mixin-DwkqE6MsEASgtE_font-size);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-WTV2_rX7QnyGrN_font-family);
  color: var(--mixin-WTV2_rX7QnyGrN_color);
  font-size: var(--mixin-WTV2_rX7QnyGrN_font-size);
  font-weight: var(--mixin-WTV2_rX7QnyGrN_font-weight);
  line-height: var(--mixin-WTV2_rX7QnyGrN_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-size: var(--mixin-8SA_3xeK66JqXk_font-size);
  color: var(--mixin-8SA_3xeK66JqXk_color);
  font-weight: var(--mixin-8SA_3xeK66JqXk_font-weight);
  font-family: var(--mixin-8SA_3xeK66JqXk_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  font-size: var(--mixin-fK3NPJwSnPk07__font-size);
  color: var(--mixin-fK3NPJwSnPk07__color);
  font-weight: var(--mixin-fK3NPJwSnPk07__font-weight);
  font-family: var(--mixin-fK3NPJwSnPk07__font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-size: var(--mixin-nZxqlxOMOPGoyr_font-size);
  color: var(--mixin-nZxqlxOMOPGoyr_color);
  font-family: var(--mixin-nZxqlxOMOPGoyr_font-family);
  font-weight: var(--mixin-nZxqlxOMOPGoyr_font-weight);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-BYxQfsWK-QhwfF_color);
  padding-left: var(--mixin-BYxQfsWK-QhwfF_padding-left);
  border-left: var(--mixin-BYxQfsWK-QhwfF_border-left-width)
    var(--mixin-BYxQfsWK-QhwfF_border-left-style)
    var(--mixin-BYxQfsWK-QhwfF_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-jn9FLdzFMzpbJw_background);
  font-family: var(--mixin-jn9FLdzFMzpbJw_font-family);
  border-radius: var(--mixin-jn9FLdzFMzpbJw_border-top-left-radius)
    var(--mixin-jn9FLdzFMzpbJw_border-top-right-radius)
    var(--mixin-jn9FLdzFMzpbJw_border-bottom-right-radius)
    var(--mixin-jn9FLdzFMzpbJw_border-bottom-left-radius);
  padding: var(--mixin-jn9FLdzFMzpbJw_padding-top)
    var(--mixin-jn9FLdzFMzpbJw_padding-right)
    var(--mixin-jn9FLdzFMzpbJw_padding-bottom)
    var(--mixin-jn9FLdzFMzpbJw_padding-left);
  border-top: var(--mixin-jn9FLdzFMzpbJw_border-top-width)
    var(--mixin-jn9FLdzFMzpbJw_border-top-style)
    var(--mixin-jn9FLdzFMzpbJw_border-top-color);
  border-right: var(--mixin-jn9FLdzFMzpbJw_border-right-width)
    var(--mixin-jn9FLdzFMzpbJw_border-right-style)
    var(--mixin-jn9FLdzFMzpbJw_border-right-color);
  border-bottom: var(--mixin-jn9FLdzFMzpbJw_border-bottom-width)
    var(--mixin-jn9FLdzFMzpbJw_border-bottom-style)
    var(--mixin-jn9FLdzFMzpbJw_border-bottom-color);
  border-left: var(--mixin-jn9FLdzFMzpbJw_border-left-width)
    var(--mixin-jn9FLdzFMzpbJw_border-left-style)
    var(--mixin-jn9FLdzFMzpbJw_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-MiMuRJh_TngwQh_background);
  font-family: var(--mixin-MiMuRJh_TngwQh_font-family);
  border-radius: var(--mixin-MiMuRJh_TngwQh_border-top-left-radius)
    var(--mixin-MiMuRJh_TngwQh_border-top-right-radius)
    var(--mixin-MiMuRJh_TngwQh_border-bottom-right-radius)
    var(--mixin-MiMuRJh_TngwQh_border-bottom-left-radius);
  padding: var(--mixin-MiMuRJh_TngwQh_padding-top)
    var(--mixin-MiMuRJh_TngwQh_padding-right)
    var(--mixin-MiMuRJh_TngwQh_padding-bottom)
    var(--mixin-MiMuRJh_TngwQh_padding-left);
  border-top: var(--mixin-MiMuRJh_TngwQh_border-top-width)
    var(--mixin-MiMuRJh_TngwQh_border-top-style)
    var(--mixin-MiMuRJh_TngwQh_border-top-color);
  border-right: var(--mixin-MiMuRJh_TngwQh_border-right-width)
    var(--mixin-MiMuRJh_TngwQh_border-right-style)
    var(--mixin-MiMuRJh_TngwQh_border-right-color);
  border-bottom: var(--mixin-MiMuRJh_TngwQh_border-bottom-width)
    var(--mixin-MiMuRJh_TngwQh_border-bottom-style)
    var(--mixin-MiMuRJh_TngwQh_border-bottom-color);
  border-left: var(--mixin-MiMuRJh_TngwQh_border-left-width)
    var(--mixin-MiMuRJh_TngwQh_border-left-style)
    var(--mixin-MiMuRJh_TngwQh_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Aza0cDbumgEkF1_display);
  flex-direction: var(--mixin-Aza0cDbumgEkF1_flex-direction);
  align-items: var(--mixin-Aza0cDbumgEkF1_align-items);
  justify-content: var(--mixin-Aza0cDbumgEkF1_justify-content);
  list-style-position: var(--mixin-Aza0cDbumgEkF1_list-style-position);
  padding-left: var(--mixin-Aza0cDbumgEkF1_padding-left);
  position: var(--mixin-Aza0cDbumgEkF1_position);
  list-style-type: var(--mixin-Aza0cDbumgEkF1_list-style-type);
  flex-column-gap: var(--mixin-Aza0cDbumgEkF1_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-P-nCku6MQjj4ZR_display);
  flex-direction: var(--mixin-P-nCku6MQjj4ZR_flex-direction);
  align-items: var(--mixin-P-nCku6MQjj4ZR_align-items);
  justify-content: var(--mixin-P-nCku6MQjj4ZR_justify-content);
  list-style-position: var(--mixin-P-nCku6MQjj4ZR_list-style-position);
  padding-left: var(--mixin-P-nCku6MQjj4ZR_padding-left);
  position: var(--mixin-P-nCku6MQjj4ZR_position);
  list-style-type: var(--mixin-P-nCku6MQjj4ZR_list-style-type);
  flex-column-gap: var(--mixin-P-nCku6MQjj4ZR_flex-column-gap);
}
