.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__a2Is9 {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__a2Is9 > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__a2Is9 > :global(.__wab_flex-container) > *,
.freeBox__a2Is9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a2Is9 > :global(.__wab_flex-container) > picture > img,
.freeBox__a2Is9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a2Is9 {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__it06I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__hbEq {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__bJSfQ {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__bJSfQ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__bJSfQ > :global(.__wab_flex-container) > *,
.freeBox__bJSfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bJSfQ > :global(.__wab_flex-container) > picture > img,
.freeBox__bJSfQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJSfQ {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJSfQ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJSfQ > :global(.__wab_flex-container) > *,
  .freeBox__bJSfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bJSfQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__bJSfQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__bJSfQtiBhv {
    display: none;
  }
}
.link__knSi2 {
  color: var(--token-pPSeH1tbuu7cfZ);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__knSi2 {
    font-size: 16px;
  }
}
.link___6Q7AB {
  color: var(--token-pPSeH1tbuu7cfZ);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___6Q7AB {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-pPSeH1tbuu7cfZ);
  }
}
.link__ljjMq {
  color: var(--token-pPSeH1tbuu7cfZ);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ljjMq {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-pPSeH1tbuu7cfZ);
  }
}
.freeBox__vS5Es {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__vS5Es > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__vS5Es > :global(.__wab_flex-container) > *,
.freeBox__vS5Es > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vS5Es > :global(.__wab_flex-container) > picture > img,
.freeBox__vS5Es
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___698Jq {
  position: relative;
  object-fit: cover;
  color: var(--token-pPSeH1tbuu7cfZ);
  width: 30px;
  height: 30px;
}
.root .svg___698Jq:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-pPSeH1tbuu7cfZ);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox__fwWhk {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__xmf07:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__lr35H:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jXAdY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___1Tk3A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__ofG94:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
